.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* -------------------------------------------------------- */

.home-section{
  display:flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  background-color: hsl(135, 100%, 76%);
  height: 90lvh;
  color: #333;
}
.home-title{
  display:flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  padding: 16px; 
  font-size: 80px;
  font-weight: bold;
  text-align: center;
  width: 60%;
}
.home-title span{
  color: hsl(0, 100%, 65%);;
  font-weight: bolder;
}
.home-start-button{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: white;
  padding:8px;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  width: 300px;
  height: 300px;
  margin: auto;
}
.home-start-button:hover{
  cursor: pointer;
  background-color: hsl(0, 100%, 65%);
  /* background-color: hsl(155, 100%, 65%); */
}

.about-section{
  display:flex;
  flex-flow: column wrap;
  align-items: center;
  background-color: hsl(135, 10%, 20%);
  color: #eee;
  padding-bottom: 64px;
}
.about-container{
  display:flex;
  flex-flow: column wrap;
  justify-content: center;
  padding: 16px;
  width: 65vw;
  max-width: 1000px;
  text-align: justify;
}
.about-container > h1{
  font-size: 40px;
  padding-top:32px;
}
.about-container > p , .about-container > li, .about-container > h3{
  justify-self: flex-start;
  align-self: flex-start;
  text-indent: 32px;
}
.about-container > li{
  padding-top: 8px;
  font-size: 20px;
}
.about-container > p{
  padding-top: 16px;
  font-size: 20px;
}
.about-container > h3{
  padding-top: 24px;
}
.about-container > a{
  padding-top: 20px;
  color:#61dafb;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
}
.about-container > a:hover{
  color:#eee;
}

.setup-section{
  display:flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  width: 100%;
  color: #333;
}
.setup-quiz{
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  justify-content: center;
  gap: 8px;
}
.setup-quiz > h1{
  font-size: 48px;
}
.setup-quiz > label > input{
  margin-right: 8px;
  height: 20px;
  width: 20px;
}
.setup-quiz > label{
  display: flex;
  align-items: center;
  font-size: 20px;;
  font-weight: bold;
}
.setup-quiz-type{
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 0 32px;
}
.setup-quiz-start-button{
  color: #333;
  font-size: 40px;
  font-weight: bold;
  padding: 8px;
  border: none;
  border-radius: 50%;
  background-color: white;
  height: 300px;
  width: 300px;
}
.setup-quiz-start-button:hover{
  background-color: hsl(0, 100%, 65%);
  cursor: pointer;
}
.setup-quiz-type p{
  font-size: 20px;
  font-weight: bold;
}

/* -------------------------------------------------------- */
.flash-cards-container{
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: space-between;
  background-color: hsl(135, 100%, 76%);
  height: 100lvh;
}
.flash-card-score{
  display: flex;
  justify-content: space-between;
  align-self: flex-start;
  align-items: center;
  border: 1px solid black;
  background-color: #333;
  color: #eee;
  font-size: 24px;
  font-weight: bold;
  width: 100%;
  padding: 0 8px;
}
.flash-card-main-content{
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  height: auto;
  transition: 0.5s;
}
.flash-card-question{
  display:flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  height: auto;
  width: 50%;
  font-size: 28px;
  font-weight: bold;
  overflow-y: scroll;
}
.choices{
  display:flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: space-evenly;
  gap: 16px;
  padding: 4px;
  height: 100%;
  width: 50%;
}
.choices > li{
  display: flex;
  align-items: center;
  justify-content: center;
	list-style-type: none;
	padding: 20px;
  background-color: hsl(187, 70%, 60%);
  border-radius: 8px;
  font-size: 18px;
  font-weight: bold;
  height: 100px;
  width: 90%;
}
.choices > li:hover{
  background-color: hsl(205, 70%, 90%);
  cursor: pointer;
}

.question-finished-box{
  display: flex;
  align-self: flex-end;
  justify-self: flex-end;
  justify-content: center;
  background-color: hsl(0, 0%, 20%);
  padding: 8px;
  min-height: 60px;
  width: 100%;
}
.question-finished-box-button{
  display: flex;
  justify-content: center;
  padding: 8px;
  background-color: white;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
  width: 100px;
}
.question-finished-box-button:hover{
  cursor: pointer;
  background-color: hsl(135, 100%, 76%);
}

@media only screen and (max-width: 768px) {

  .home-section{
    flex-flow: column wrap;
    height: 90lvh;
    min-height: 670px;
  }
  .home-title{
    width: 100%;
    font-size: 40px;
  }
  .home-start-button{
    height: 200px;
    width: 200px;
    margin: 0;
  }
  .about-container{
    width: 100%;
  }
  .about-container > h1{
    font-size: 32px;
    text-align: center;
  }
  .about-container > p, .about-container > li{
    font-size: 16px;
  }
  .setup-section{
    flex-flow: column wrap;
    justify-content: space-evenly;
    width: 100%;
  }
  .setup-quiz{
    align-items: flex-start;
    justify-content: center;
    text-align: justify;
    width: 100%;
    padding: 8px;
  }
  .setup-quiz > h1{
    font-size: 36px;
    align-self: center;
  }
  .setup-quiz > label > input{
    margin-right: 8px;
    min-height: 16px;
    min-width: 16px;
  }
  .setup-quiz > label{
    align-items: center;
    font-size: 16px;
  }
  .setup-quiz-type{
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    padding: 32px 0;
    margin: auto;
    width: 100%;
  }
  .setup-quiz-start-button{
    font-size: 20px;
    height: 180px;
    width: 180px;
  }

  .flash-cards-container{
    height: auto;
    max-height: 1000px;
  }
  .flash-card-score{
    font-size: 16px;
  }
  .flash-card-main-content{
    flex-flow: column wrap;
    min-height: 600px;
    max-height: 1000px;
    transition: 0.5s;
  }
  .flash-card-question{
    width: 100%;
    min-height: 300px;
    max-height: 600px;
    font-size: 20px;
  }
  .choices{
    width: 100%;
  }
  .choices > li{
    height: 80px;
  }
}